<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="build/css/style.min.css")
    body
        header(class="header")
            <button class="menu">
            <svg viewBox="0 0 64 48">
                <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
            </svg>
        </button>


        main(class="travel")
            h1(class="travel__title") ЗИМБАБВЕ

            .travel__countries
                div(class="travel__tour")
                    figure(class="travel__description")
                        div.travel__description-wrapper
                            img(src="build/image/Toskana.jpg" alt="Toskana" class="travel__description-photo")
                        figcaption(class="travel__description-price") от 118 112 &#8381
                    p(class="country") Италия
                    h2(class="Tagline") Под небом Тосканы
                    p(class="route") Сансеполькро — (Перуджа) — Ассизи — Губбио — (Сиена) — Ла Верна — Ангиари — Монтерки — Ареццо — Кортона — (Пиенца) - (Монтепульчано)
                    .info
                        .info__timing
                            .time 8 дней / 7 ночей
                            .lang Русский язык
                        .info__dates 27.04.19 - 04.05.19и еще 15 дат
                    p(class="avia")

                div(class="travel__tour")
                    figure(class="travel__description")
                        div.travel__description-wrapper
                            img(src="build/image/Iceland.jpg" alt="Iceland" class="travel__description-photo")
                        figcaption(class="travel__description-price") от 118 112 &#8381
                    p(class="country") ИСЛАНДИЯ
                    h2(class="Tagline") Майские каникулы в Исландии
                    p(class="route") Рейкьявик — Тингвеллир — Гюдльфосс — Скафтафедль — Сельяландсфосс — Скоугафосс — Йёкюльсаурлоун — Голубая Лагуна — Снайфельсйёкутль — Arnarstapi — Рейкьявик
                    .info
                        .info__timing
                            .time 8 дней / 7 ночей
                            .lang Русский язык
                        .info__dates 27.04.19 - 04.05.19

                div(class="travel__tour")
                    figure(class="travel__tour-photo")
                        div.travel__description-wrapper
                            img(src="build/image/Turkey.jpg" alt="Turkey" class="travel__description-photo")
                        figcaption(class="travel__description-price") от 118 112 &#8381
                    p(class="country") ТУРЦИЯ
                    h2(class="Tagline") Открытие Турции
                    p(class="route") Стамбул — Анкара — Каппадокия — Конья — Памуккале — Эфес — Кушадасы — Пергам — Ассос — Троя — Стамбул
                    .info
                        .info__timing
                            .time 8 дней / 7 ночей
                            .lang Русский язык
                        .info__dates 28.04.19 - 05.05.19 и еще 3 даты

                div(class="travel__tour")
                    figure(class="travel__description")
                        div.travel__description-wrapper
                            img(src="build/image/Grumantbyen.jpg" alt="Grumantbyen" class="travel__description-photo")
                        figcaption(class="travel__description-price") от 118 112 &#8381
                    p(class="country") НОРВЕГИЯ, ШПИЦБЕРГЕН
                    h2(class="Tagline") От Свальбарда до Груманта
                    .info
                        .info__timing
                            .time 8 дней / 7 ночей
                            .lang Русский язык
                        .info__dates 27.04.19 - 04.05.19и еще 15 дат
                    p(class="avia")
        script(src="build/js/script.js")